
# postgresql
POSTGRES_DB=ventas
POSTGRES_USER=bigdata
POSTGRES_PASSWORD=BigData_PoC_2026
POSTGRES_PORT=5432

# mysql
MYSQL_DATABASE=ventas
MYSQL_USER=bigdata
MYSQL_PASSWORD=BigData_MySQL_PoC_2026
MYSQL_ROOT_PASSWORD=Root_MySQL_PoC_2026
MYSQL_PORT=3306